body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

#app {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
#app.light {
  background: white;
}
#app.dark {
  background: black;
}

#app.light p,
#app.light i {
  color: black;
}
#app.dark p,
#app.dark i {
  color: white;
}

.top-bar {
  flex-shrink: 0;
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}
#app.vertical .top-bar {
  border-bottom-left-radius: 5vw;
  border-bottom-right-radius: 5vw;
}
#app.horizontal .top-bar {
  border-bottom-left-radius: 3vh;
  border-bottom-right-radius: 3vh;
}
#app.light .top-bar {
  background: rgb(245, 250, 255);
}
#app.dark .top-bar {
  background: rgb(0, 20, 50);
}

.top-bar-content {
  flex-shrink: 0;
  height: 80%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#app.verticals .top-bar-content {
  flex-direction: column;
}

#app.horizontal #app-header {
  font: 700 5vh Arial;
}
#app.vertical #app-header {
  font: 700 5vw Arial;
}

#control-panel {
  flex-shrink: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.control-panel-sub-div {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.color-relevance-outer-div {
  flex-shrink: 0;
  height: 20%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  box-sizing: border-box;
  padding: 3px 0;
  gap: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.color-relevance-outer-div::-webkit-scrollbar {
  display: none;
}

.color-relevance-div {
  flex-shrink: 0;
  display: none;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.color-relevance-div div {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.color-relevance-div p {
  margin: 0;
}
#app.vertical .color-relevance-div p {
  font: 500 2.5vw Arial;
}
#app.horizontal .color-relevance-div p {
  font: 500 2.5vh Arial;
}

#app.vertical #view-mode-select,
#app.vertical #temperature-control-value {
  height: 3.5vw;
  border: none;
  background: transparent;
  font-size: 3vw;
}
#app.horizontal #view-mode-select,
#app.horizontal #temperature-control-value {
  height: 3.5vh;
  border: none;
  background: transparent;
  font-size: 3vh;
}

#view-mode-select:focus,
#temperature-control-value:focus {
  outline: rgb(0, 120, 255);
}

#temperature-slider-div {
  width: 100%;
  display: flex;
  gap: 5px;
}

#temperature-slider {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  flex-grow: 1;
  background: transparent;
}

#temperature-slider::-webkit-slider-runnable-track {
  height: 10px;
  width: 100%;
  background: linear-gradient(to right, rgb(0, 4, 255), rgb(0, 195, 255));
  border: none;
  border-radius: 2.5px;
}

#temperature-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 5px;
  margin: 0;
  border-radius: 2.5px;
  background: black;
}

#temperature-reset-button {
  flex-shrink: 0;
  background: transparent;
  border: none;
}

#temperature-reset-button i {
  font-size: 15px;
  color: black;
}

#inner-app {
  flex-shrink: 0;
  height: 85%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
}

#periodic-table {
  flex-shrink: 0;
  width: 100%;
  overflow: scroll;
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: transparent;
}
#app.vertical #periodic-table {
  height: fit-content;
}
#periodic-table::-webkit-scrollbar {
  display: none;
}

#main-table {
  gap: 2.5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background: transparent;
}

#f-block-table {
  gap: 2.5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background: transparent;
}

.group {
  gap: 2.5px;
  display: flex;
  flex-direction: column;
  background: transparent;
}

.period {
  gap: 2.5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
}

.element-button {
  cursor: pointer;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 5px;
  background: transparent;
}
#app.vertical .element-button {
  width: 8vw;
  height: 8vw;
}
#app.horizontal .element-button {
  width: 8vh;
  height: 8vh;
}

.element-info-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element-info-div p {
  margin: 0;
}

#app.vertical .atomic-number {
  width: 100%;
  font: 700 1.5vw Arial;
  text-align: left;
}
#app.horizontal .atomic-number {
  width: 100%;
  font: 700 1.5vh Arial;
  text-align: left;
}

.element-name-div {
  flex-shrink: 0;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#app.vertical .element-symbol {
  font: 500 3vw Arial;
  margin: 0;
}
#app.horizontal .element-symbol {
  font: 500 3.5vh Arial;
  margin: 0;
}


#app.vertical .element-name {
  font: 500 2vw Arial;
  margin: 0;
}
#app.horizontal .element-name {
  font: 500 1.5vh Arial;
  margin: 0;
}


#info-panel {
  flex-shrink: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  margin: auto 0 0 0;
  padding: 20px 0 200px 10px;
  gap: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#info-panel::-webkit-scrollbar {
  display: none;
}
#app.light #info-panel {
  background: rgb(245, 250, 255);
}
#app.dark #info-panel {
  background: rgb(0, 5, 10);
}

#info-panel-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

#app.vertical #atomic-number {
  font: 700 2vh Arial;
  margin: 0;
}
#app.horizontal #atomic-number {
  font: 700 2vw Arial;
  margin: 0;
}

#app.vertical #element-name {
  font: 700 3vh Arial;
  margin: 0;
}
#app.horizontal #element-name {
  font: 700 3vw Arial;
  margin: 0;
}

#app.vertical #electronic-configuration {
  font: 500 2vh Arial;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}
#app.horizontal #electronic-configuration {
  font: 500 2vw Arial;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}

#info-panel-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

#app.vertical .info-body-text {
  font: 500 3vw Arial;
  margin: 0;
}
#app.horizontal .info-body-text {
  font: 500 3vh Arial;
  margin: 0;
}

.info-body-values {
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
}
#app.vertical .info-body-values {
  font: 500 3vw Arial;
}
#app.horizontal .info-body-values {
  font: 500 3vh Arial;
}

#learn-more-link {
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 20px;
  color: rgb(0, 0, 255, 0.5);
  background: transparent;
  border: 1px solid rgb(50, 50, 255, 0.7);
  font: 700 15px Arial;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

#learn-more-link:hover {
  color: rgb(255, 255, 255);
  background: rgba(50, 50, 255, 0.7);
}

/* Category Styles */
#periodic-table.by-category .category-Alkali-Metal {
  border-color: rgba(255, 0, 0, 0.3);
  background-color: rgba(255, 0, 0, 0.15);
}

#periodic-table.by-category .category-Alkali-Metal p {
  color: rgb(255, 0, 0);
}

#periodic-table.by-category .category-Alkaline-Earth-Metal {
  border-color: rgba(255, 165, 0, 0.3);
  background-color: rgba(255, 165, 0, 0.15);
}

#periodic-table.by-category .category-Alkaline-Earth-Metal p {
  color: rgb(255, 165, 0);
}

#periodic-table.by-category .category-Transition-Metal {
  border-color: rgba(255, 215, 0, 0.3);
  background-color: rgba(255, 215, 0, 0.15);
}

#periodic-table.by-category .category-Transition-Metal p {
  color: rgb(218, 165, 32);
}

#periodic-table.by-category .category-Post-transition-Metal {
  border-color: rgba(0, 128, 0, 0.3);
  background-color: rgba(0, 128, 0, 0.15);
}

#periodic-table.by-category .category-Post-transition-Metal p {
  color: rgb(0, 128, 0);
}

#periodic-table.by-category .category-Metalloid {
  border-color: rgba(0, 139, 139, 0.3);
  background-color: rgba(0, 139, 139, 0.15);
}

#periodic-table.by-category .category-Metalloid p {
  color: rgb(0, 139, 139);
}

#periodic-table.by-category .category-Reactive-Nonmetal {
  border-color: rgba(0, 0, 255, 0.3);
  background-color: rgba(0, 0, 255, 0.15);
}

#periodic-table.by-category .category-Reactive-Nonmetal p {
  color: rgb(0, 0, 255);
}

#periodic-table.by-category .category-Noble-Gas {
  border-color: rgba(128, 0, 128, 0.3);
  background-color: rgba(128, 0, 128, 0.15);
}

#periodic-table.by-category .category-Noble-Gas p {
  color: rgb(128, 0, 128);
}

#periodic-table.by-category .category-Lanthanide {
  border-color: rgba(255, 105, 180, 0.3);
  background-color: rgba(255, 105, 180, 0.15);
}

#periodic-table.by-category .category-Lanthanide p {
  color: rgb(255, 20, 147);
}

#periodic-table.by-category .category-Actinide {
  border-color: rgba(165, 42, 42, 0.3);
  background-color: rgba(165, 42, 42, 0.15);
}

#periodic-table.by-category .category-Actinide p {
  color: rgb(165, 42, 42);
}

#periodic-table.by-category .category-Halogen {
  border-color: rgba(0, 255, 255, 0.3);
  background-color: rgba(0, 255, 255, 0.15);
}

#periodic-table.by-category .category-Halogen p {
  color: rgb(0, 139, 139);
}

/* Block Styles */
#periodic-table.by-block .block-s {
  border-color: rgba(0, 0, 255, 0.3);
  background-color: rgba(0, 0, 255, 0.15);
}

#periodic-table.by-block .block-s p {
  color: rgb(0, 0, 255);
}

#periodic-table.by-block .block-p {
  border-color: rgba(34, 139, 34, 0.3);
  background-color: rgba(34, 139, 34, 0.15);
}

#periodic-table.by-block .block-p p {
  color: rgb(34, 139, 34);
}

#periodic-table.by-block .block-d {
  border-color: rgba(255, 0, 0, 0.3);
  background-color: rgba(255, 0, 0, 0.15);
}

#periodic-table.by-block .block-d p {
  color: rgb(255, 0, 0);
}

#periodic-table.by-block .block-f {
  border-color: rgba(184, 134, 11, 0.3);
  background-color: rgba(184, 134, 11, 0.15);
}

#periodic-table.by-block .block-f p {
  color: rgb(184, 134, 11);
}

/* State Styles */
#periodic-table.by-state .state-Solid {
  border-color: rgba(0, 0, 255, 0.3);
  background-color: rgba(0, 0, 255, 0.15);
}

#periodic-table.by-state .state-Solid p {
  color: rgb(0, 0, 255);
}

#periodic-table.by-state .state-Liquid {
  border-color: rgba(34, 139, 34, 0.3);
  background-color: rgba(34, 139, 34, 0.15);
}

#periodic-table.by-state .state-Liquid p {
  color: rgb(34, 139, 34);
}

#periodic-table.by-state .state-Gas {
  border-color: rgba(255, 0, 0, 0.3);
  background-color: rgba(255, 0, 0, 0.15);
}

#periodic-table.by-state .state-Gas p {
  color: rgb(255, 0, 0);
}