#modern-periodic-table {
  flex-shrink: 0;
  width: 100%;

  overflow-y: hidden;
  overflow-x: scroll;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;

  background-color: var(--absolute-bg);
}

.table-piece {
  --table-width: calc(
    (18 * var(--element-cell-size)) + (17 * var(--element-gap))
  );

  width: var(--table-width);

  zoom: calc((100vw - 10px) / var(--table-width));

  display: grid;
  gap: var(--element-gap);
  align-content: center;
  align-items: stretch;
  justify-content: center;
  justify-items: stretch;
}
