#modern-periodic-table {
  flex-shrink: 0;
  width: 100%;

  overflow-y: hidden;
  overflow-x: scroll;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;

  background-color: var(--absolute-bg);
}

.table-piece {
  --table-width: calc(
    (18 * var(--element-cell-size)) + (17 * var(--element-gap)) +
      (18 * 2 * var(--element-outline-width))
  );

  width: var(--table-width);

  zoom: calc((100vw - 2 * var(--table-padding)) / var(--table-width));

  display: grid;
  gap: var(--element-gap);
  align-content: center;
  align-items: stretch;
  justify-content: center;
  justify-items: stretch;
}

#main-table {
  aspect-ratio: 18 / 7;

  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

#second-table {
  aspect-ratio: 18 / 2;

  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
