.element-cell {
  cursor: pointer;
  touch-action: manipulation;

  height: var(--element-cell-size);
  width: var(--element-cell-size);
  aspect-ratio: 1 / 1;

  overflow: hidden;

  margin: var(--element-outline-width);
  padding: 5px;

  border: none;
  border-radius: 6px;

  outline-width: 0px;
  outline-style: solid;
  outline-color: var(--primary-cell-color);

  background-color: var(--secondary-cell-color);

  &:hover {
    outline-width: var(--element-outline-width);
  }

  p {
    color: var(--primary-cell-color);
  }
}

.element-info-div {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.atomic-number {
  width: 100%;

  text-align: left;

  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  font-family: "Oswald";
}

.mass-number {
  width: 100%;

  text-align: right;

  font-weight: 300;
  font-size: 14px;
  line-height: 1;
  font-family: "Oswald";
}

.element-name-div {
  flex-grow: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.element-symbol {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.1;
  font-family: "Oswald";
}

.element-name {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;

  text-align: center;

  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.65px;
  font-family: "Oswald";
}
