#triads-table {
  gap: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
}

.triads-group {
  height: fit-content;
  width: fit-content;

  padding: 10px;

  border: 1px solid var(--triads-group-bg);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 2px;
}

.triads-group-title {
  margin: 4px;
  font: 400 20px "Inter";
  color: var(--triads-group-color);
}

.triads-group-elements {
  height: fit-content;
  width: fit-content;

  display: flex;
  gap: calc(var(--element-gap) + (2 * var(--element-outline-width)));

  .element-cell {
    --primary-cell-color: var(--triads-group-color);
    --secondary-cell-color: var(--triads-group-bg);
  }
}
