
#control-panel {
  flex-shrink: 0;
  overflow: hidden;
  padding: 0;
  display: flex;
}
[data-orientation="horizontal"] #control-panel {
  height: 100% !important;
  margin: 0 0 0 auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
[data-orientation="vertical"] #control-panel {
  width: 100% !important;
  margin: auto 0 0 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-direction: column;
}

#control-panel-wrapper {
  position: relative;
  flex-grow: 1;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
[data-orientation="vertical"] #control-panel-wrapper {
  width: 100%;
}
[data-orientation="horizontal"] #control-panel-wrapper {
  height: 100%;
}

#control-navigation {
  position: relative;
  flex-shrink: 1;
  width: 100%;
  padding: 10px 10%;
  display: flex;
  justify-content: space-around;
}

#control-navigation button {
  cursor: pointer;
  border: none;
  background: transparent;
}

#control-navigation button p {
  margin: 0;
  font: var(--tertiary-header);
  color: var(--accent);
}

.nav-indicator {
  position: absolute;
  top: auto;
  right: 10%;
  bottom: 0;
  left: 10%;
  height: 5px;
  width: 40%;
  margin-top: 0;
  margin-bottom: 0;
  border-top-left-radius: 2.5px;
  border-top-right-radius: 2.5px;
  background: var(--accent);
  transition: width var(--nav-transition-duration) ease, transform var(--nav-transition-duration) ease;
}

#control-panel-tab-container {
  flex-grow: 1;
  width: 100%;
  max-height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  display: flex;
}

.inner-control-panel {
  flex-shrink: 1;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  box-sizing: border-box;
  padding: 10px;
  padding-bottom: 100px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

/*#region control input */
.control-radio-div,
.control-slider-div,
.control-dropdown-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.control-label {
  font: var(--primary-text);
  margin: 2px 0;
}

.control-dropdown {
  width: 100%;
  padding: 10px 5px;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  font: var(--primary-text);
  color: var(--primary-text-color);
  background: transparent;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*#region slider */
.control-slider-value {
  flex-shrink: 1;
  min-width: 0;
  width: fit-content;
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--primary-text);
  color: var(--primary-text-color);
}

.control-slider-wrapper {
  width: 100%;
}

.control-slider {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  display: flex;
  gap: 5px;
  background: transparent;
}
.control-slider::-webkit-slider-runnable-track {
  height: 10px;
  width: 100%;
  background: var(--secondary-bg);
  border: none;
  border-radius: 5px;
}
.control-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 5px;
  margin: -5px 0 0 0;
  border-radius: 2.5px;
  background: var(--accent);
}
/*#endregion slider */

.toggle {
  cursor: pointer;
  background: transparent;
  border: none;
}

.toggle i {
  font-size: 15px;
}

.toggle.large i {
  font-size: 25px;
}

/*#region radio */
.radio-container {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
}

.radio-input {
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: var(--secondary-bg);
}
.radio-input.selected {
  cursor: default;
  border-radius: 15px;
  background: var(--accent);
}

.palette-input {
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: 0 5px;
  border: none;
  border-radius: 50%;
  background: var(--accent);
}

.palette-input.selected {
  cursor: default;
  outline: 2px solid var(--accent);
  outline-offset: 3px;
}

.radio-label {
  margin: 0;
  font: var(--secondary-text);
  color: var(--primary-text-color);
}
/*#endregion radio */

/*#endregion control input */

.control-panel-sub-div {
  position: absolute;
  z-index: 1;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  padding: 0 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, var(--primary-bg) 10%, rgba(0, 0, 0, 0));
}

.hide-btn {
  cursor: pointer;
  height: 40px;
  width: 80px;
  margin: 0;
  margin-bottom: env(safe-area-inset-bottom);
  border: none;
  border-radius: 20px;
  background-color: var(--accent);
  text-align: center;
}

.hide-btn p {
  font: var(--primary-text);
  margin: 0;
}

/*#endregion control-panel */
