@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import "./styles/colors.css";
/*@import "./styles/variables.css";*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition:
    background-color 100ms ease,
    color 100ms ease;

  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

p,
i,
input {
  color: var(--primary-text-color);
}
